body {
    font-family: Arial, sans-serif;
    background-color: #e2fcff;
    color:  rgb(9, 154, 40);
    margin: 0;
    padding: 0;
    background-image: url(pexels-tuongchopper-28662952.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el fondo sin deformarse */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */        background-attachment: fixed; /* Hace que la imagen de fondo se quede fija al hacer scroll */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    margin: 0;
    }
    body::after {
        content: '';
        position: fixed; /* Cambiado de absolute a fixed */
        inset: 0; /* Mantiene la posición completa en todo el viewport */
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        z-index: -1;
    }

.logo {
  width: 90px;
  text-align: left;
  
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  height: auto;
  justify-content: center;
  border-radius: 32px;
  background-color: rgb(9, 154, 40);
  padding: 1em;
  position: relative;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
}

button {
  display: flex;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem; /* Ajuste de tamaño relativo */
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background-color: rgb(9, 154, 40);
  width: auto; /* Permite que el botón se ajuste automáticamente */
  height: auto;
  justify-content: center;
}

a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

button:hover {
  letter-spacing: 3px; /* Reducir el efecto de espacio */
  box-shadow: black 0px 7px 29px 0px;
}

.content {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color:  rgb(9, 154, 40);
}

.content p {
    font-size: 1.1em;
    color: #004d40;
}

footer {
    background-color:  rgb(9, 154, 40);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: auto;
    width: 100%;
    bottom: 0;
}
.back-btn {
    display: inline-block;
    background-color:  rgb(9, 154, 40);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 6em;
    
}

.back-btn:hover {
    background-color: #004d40;
}